<div id="cabecera">
    <div id="nombreweb">
        <p class="pacifico-regular"><a class="decoration_disable color_principal" href="index.html">Comarca da <span class="negrita">Terra</span>Chá</a></p>
    </div>
    <nav id="nav" class="decoration_disable">
        <ul>
        <li><a class="decoration_disable color_principal" href="#Cospeito">Cospeito</a></li>
        <li><a class="decoration_disable color_principal" href="#Vilalba">Vilalba</a></li>
        <li><a class="decoration_disable color_principal" href="#Begonte">Begonte</a></li>
        <li><a class="decoration_disable color_principal" href="#Otros">Datos de interés</a></li>
        </ul>
    </nav>
</div>