/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "layouts/home";

@import '../../../node_modules/flickity/dist/flickity.css';

@import '../../../node_modules/responsive-nav/responsive-nav.css';

@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

@import '../../../node_modules/aos/dist/aos.css';

/**
 * Do NOT include anything else in this file!
 */

 /*Elementos estructurales*/
 #cabecera{
    display: grid;
    grid-template-areas: "nombreweb menuweb";
    background-color: $cabecera;

    @media (max-width: 640px) {
        display: block;
        text-align: center;
        margin-top: -16px;
    }
 }

 #nombreweb{
    grid-area:nombreweb;
 }
 
 nav {
    padding: 20px;
    grid-area: menuweb;
    text-align: right;

    @media (max-width: 640px)
    {
        padding: 0px;
    }

  
    li {
      display: inline !important;
      margin-right: 20px;
  
      @media (max-width: 640px) {
        display: block !important;
        text-align: center;
      }
    }
  }

  section {
    padding: 10px;
  }
  
  .content { 
    display: flex;
    flex-direction:row;
    gap: 10;

    @media (max-height: 640px) {
        flex-direction:column;
    }

    .imagen {
        flex: 1;    
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 250px;
      }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        } 
    
      .text {
        flex: 1;
      }
  }

  footer {
    background-color: $pie;
    text-align: center;
    margin-top: -16px;
    padding: 10px;
  }

  

 
 
 .carousel {
    width: 100%;
    max-width: 1580px;//1380px
    margin: 0 auto; /* Centra el carrusel en la página */
  }

 .carousel-cell {
    width: 100%; /* full width */
    height: 500px; /* height of carousel */
 }  

 .carousel-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    align-items: center;
  }

/*Aperiencia*/
.titulo {
    font-size: 3em;
}

.m10 {
    margin: 10px;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
}

.decoration_disable{
    text-decoration: none;
}

.color_principal{
    color: $uoc-corporate;
}

.imagen_cover {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.silueta {
    background-image: url(../images/silueta3.png);
    background-size:auto 60%;;
    background-position: bottom right;
    background-repeat: no-repeat;
}

section:nth-child(odd) {
    background-color: $contacto; /* Color de fondo para secciones impares */
}
  
section:nth-child(even) {
    background-color: $contenedor; /* Color de fondo para secciones pares */
}
   